<div class="w-[90%] m-auto mb-[5rem]">
    <h1 class="text-2xl text-center mb-[4rem] ">Let's Connect</h1>
    <div class="ring-4 p-10 rounded-xl ring-slate-200">
        <slot />
    </div>
    
</div>