---
import HomePageLayout from "../../layouts/HomePageLayout.astro"
import OpenSourceCard from "../../components/openSource/OpenSourceCard"
import "../../styles/global.css"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>shekh md moinuddin</title>
	</head>
	<body>
        <HomePageLayout url="Open Source">
			<div class="w-[80%] m-auto mt-[2rem]">
				<OpenSourceCard client:load />
			</div>
        </HomePageLayout>
	</body>
</html>